# Node
node_modules/
dist/
npm-debug.log

# Prisma generado localmente
/src/generated/prisma

# Entornos virtuales de Python (por si mezclas proyectos)
.venv/
ENV/
env/
env.bak/
venv.bak/

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg
*.egg-info/
*.dist-info/
.installed.cfg

# Archivos y carpetas de pruebas
tests/
__pypackages__/
.pytest_cache

# Configuración local
.env
.env.*
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.log
*.tmp
*.swp
logs/

# Archivos de Docker que no quieres copiar al contenedor (opcional)
.dockerignore
Dockerfile
docker-compose.yml

# Otros específicos de herramientas que usas
.cursor/
.roo/
.roomodes
.taskmasterconfig
.windsurfrules
.scripts/
tasks/